DB_HOST=db
DB_PORT=3306
DB_USER=inventory_user
DB_PASSWORD=change_me_strong_password
DB_NAME=inventory_db
FLASK_SECRET_KEY=change_me_random_secret
FLASK_DEBUG=0

MYSQL_DATABASE=inventory_db
MYSQL_USER=inventory_user
MYSQL_PASSWORD=change_me_strong_password
MYSQL_ROOT_PASSWORD=change_me_root_password
